.container {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    display: block;
  }
  
  input {
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
  }
  
  input:focus {
    border-color: #FFD700 !important;
    box-shadow: 0 0 5px #FFD700 !important;
  }
  
  .is-invalid {
    border-color: #ff0000 !important;
  }
  
  .text-danger {
    color: #ff0000 !important;
  }
  
  .btn {
    background-color: #fcca04;
    border: none;
    color: black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
  }
  
  .btn:hover {
    background-color: #e6b800;
  }
  
  .text-center {
    text-align: center;
  }
  
  .mt-5 {
    margin-top: 1.5rem; // Reduce top margin
  }
  
  .shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .border {
    border: 1px solid #444;
  }
  
  .form-custom {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
  }
  
