.navbar {
  background-color: #000000 !important;
  border-bottom: 1px solid #272626;
  flex-direction: row;
  align-items: center;
}

.navbar-custom {
  background-color: #000; 
  padding: 10px 0;

  .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .nav-link {
    color: #fcca04 !important; // amarillo para todos los enlaces

    &.active {
      color: #fcca04 !important; // amarillo para el enlace activo
    }

    &:hover {
      color: #ccc !important; // Color gris claro en hover
    }
  }

  .navbar-nav {
    flex-direction: row;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    .nav-link {
      &:hover {
        color: #ccc;
      }
    }
  }
}
