<div class="container-fluid py-2 header-container">
  <div class="row align-items-center flex-column flex-md-row">
    <!-- Redes Sociales -->
    <div class="social-icons col-12 col-md-auto d-flex justify-content-center justify-content-md-start mb-2 mb-md-0">
      <a href="https://www.facebook.com/StarWars" target="_blank">
        <img src="icons/facebook.svg" alt="Facebook" />
      </a>
      <a href="https://x.com/starwars" target="_blank">
        <img src="icons/x-twitter.svg" alt="Twitter" />
      </a>
      <a href="https://www.instagram.com/starwars" target="_blank">
        <img src="icons/instagram.svg" alt="Instagram" />
      </a>
      <a href="https://www.youtube.com/starwars" target="_blank">
        <img src="icons/youtube.svg" alt="Instagram" />
      </a>
    </div>
    <!-- Log In / Sign Up -->
    <div class="login-btn col-12 col-md-auto d-flex justify-content-center mb-2 mb-md-0 order-2 order-md-3">
      <a href="/login" class="me-2 text-secondary">LOG IN</a>
      <span class="text-secondary">//</span>
      <a href="/signup" class="ms-2 text-secondary">SIGN UP</a>
    </div>
    <!-- Logo -->
    <div class="col-12 col-md d-flex justify-content-center justify-content-md-center order-3 order-md-2">
      <img src="img/sw-logo.svg" alt="Star Wars Logo" class="img-fluid logo">
    </div>
  </div>
</div>
