 <div class="container mt-5 text-center">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img data-src="img/planet1.jpg" class="d-block w-100 lazyload" alt="Planet 1">
      </div>
      <div class="carousel-item">
        <img data-src="img/planet2.jpg" class="d-block w-100 lazyload" alt="Planet 2">
      </div>
      <div class="carousel-item">
        <img data-src="img/planet3.jpg" class="d-block w-100 lazyload" alt="Planet 3">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
  <div class="container mt-5 text-center">
    <h1>Welcome to the Star Wars Fleet!</h1>
    <p class="lead">Explore the various starships in the Star Wars universe.</p>
    <a routerLink="/starships" class="btn btn-primary btn-lg">View Starships</a>
  </div>
</div>
