<!--<div *ngIf="starship$ | async as starship">
    <div class="card-body shiplist">
      <h1 class="p-3"><b>STARSHIP</b></h1>
      <div class="card col-11 col-md-9 col-lg-8 col-xl-11 col-xxl-8 p-5 pt-0">
        <div class="card-title pt-3">
          <h2 class="pt-3"><b>{{ starship.name }}</b></h2>
        </div>
        <div class="row align-items-center">
          <div class="col-12 col-xl-7 col-xxl-7 text-center mt-4 mb-4 card-custom">
            <img [src]="starship.imageUrl" alt="{{ starship.name }}" class="img-fluid starship" />
            <img [src]="imageUrl" alt="{{ starship.name }}" class="img-fluid starship" />
          </div>
          <div class="col-12 col-xl-5 col-xxl-5">
            <ul class="m-0">
              <li><p class="card-text"><b>Model:</b> {{ starship.model }}</p></li>
              <li><p class="card-text"><b>Class:</b> {{ starship.starship_class }}</p></li>
              <li><p class="card-text"><b>Manufacturer:</b> {{ starship.manufacturer }}</p></li>
              <li><p class="card-text"><b>Cost in Credits:</b> {{ starship.cost_in_credits }}</p></li>
              <li><p class="card-text"><b>Length:</b> {{ starship.length }}</p></li>
              <li><p class="card-text"><b>Crew:</b> {{ starship.crew }}</p></li>
              <li><p class="card-text"><b>Passengers:</b> {{ starship.passengers }}</p></li>
              <li><p class="card-text"><b>Cargo Capacity:</b> {{ starship.cargo_capacity }}</p></li>
              <li><p class="card-text"><b>Consumables:</b> {{ starship.consumables }}</p></li>
              <li><p class="card-text"><b>Hyperdrive Rating:</b> {{ starship.hyperdrive_rating }}</p></li>
              <li><p class="card-text"><b>MGLT:</b> {{ starship.MGLT }}</p></li>
            </ul>
          </div>
        </div>
        <div class="more">
          <a routerLink="/starships"><button class="btn btn-light">Return to Starships</button></a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="loading" class="loader">
    <div class="text-center">
      <div class="spinner-border" role="status"></div>
      <span class="loader mt-4">Loading...</span>
    </div>
  </div>
-->


@if(starship$ | async; as starship) {
  <!--<div class="container">-->  
    <div class="card-body shiplist">
      <h1 class="p-3"><b>STARSHIP</b></h1>
      <div class="card col-11 col-md-9 col-lg-8 col-xl-11 col-xxl-8 p-5 pt-0">
        <div class="card-title pt-3">
          <h2 class="pt-3"><b>{{ starship.name }}</b></h2>
        </div>
        <div class="row align-items-center">
          <div class="col-12 col-xl-7 col-xxl-7 text-center mt-4 mb-4 card-custom">
            <img [src]="starship.imageUrl" (error)="imageError($event)"  alt="{{ starship.name }}" class="img-fluid starship" />
          </div>
          <div class="col-12 col-xl-5 col-xxl-5">
            <ul class="m-0">
              <li><p class="card-text"><b>Model:</b> {{ starship.model }}</p></li>
              <li><p class="card-text"><b>Class:</b> {{ starship.starship_class }}</p></li>
              <li><p class="card-text"><b>Manufacturer:</b> {{ starship.manufacturer }}</p></li>
              <li><p class="card-text"><b>Cost in Credits:</b> {{ starship.cost_in_credits }}</p></li>
              <li><p class="card-text"><b>Length:</b> {{ starship.length }}</p></li>
              <li><p class="card-text"><b>Crew:</b> {{ starship.crew }}</p></li>
              <li><p class="card-text"><b>Passengers:</b> {{ starship.passengers }}</p></li>
              <li><p class="card-text"><b>Cargo Capacity:</b> {{ starship.cargo_capacity }}</p></li>
              <li><p class="card-text"><b>Consumables:</b> {{ starship.consumables }}</p></li>
              <li><p class="card-text"><b>Hyperdrive Rating:</b> {{ starship.hyperdrive_rating }}</p></li>
              <li><p class="card-text"><b>MGLT:</b> {{ starship.MGLT }}</p></li>
            </ul>
          </div>
        </div>
        <div class="more">
          <a routerLink="/starships"><button class="btn btn-light">Return to Starships</button></a>
        </div>
      </div>
    </div>
<!--</div>-->
} @else {
  <div class="loader">
    <div class="text-center">
      <div class="spinner-border" role="status"></div>
      <span class="loader mt-4">Loading...</span>
    </div>
  </div>
}
