.container {
  background-color: black !important;
  color: white;
  padding-top: 20px;  //Ajusta la posición vertical 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #1e1e1e;
  color: white;
  margin-bottom: 1rem;
  max-width: 1200px;
  width: 100%; //Ocupar todo el ancho posible
  border-color: #f5b903;
}

.card-title {
  font-size: 1.5rem;
  text-align: left;
}

.card-text {
  font-size: 1.2rem;
  text-align: left;
}

.card-body {
  background-color: #000000;
  border: none;
  color: #fff;
  padding: 20px;
}

.img-fluid {
  max-width: 100%;
  height: 100%; 
  object-fit: cover; //Imagen ocupa todo el espacio posible
}

.loader {
  text-align: center;
  margin-top: 50px;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.shiplist h1 {
  text-align: left;
  width: 100%;
}

.more {
  text-align: left;
}

.btn-light {
  background-color: #000; 
  color: #f5b903;
  border: 2px solid #f5b903; 
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #333; 
    color: #fff; 
    border-color: #333; 
  }
}
