// starships-list.component.scss
.container {
    background-color: black;
    color: white;
    padding-top: 20px;  /* Ajusta la posición vertical */
  }
  
  .card {
    background-color: #333;
    color: white;
    margin-bottom: 1rem;
  }
  
  .card-title {
    font-size: 1.5rem;
  }
  
  .card-text {
    font-size: 1.2rem;
  }
  