<!--<div class="container mt-4">
  @if (starships$ | async; as resultObject) {
  @for (starship of resultObject; track $index) {
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{ starship.name }}</h5>
      <p class="card-text">Model: {{ starship.model }}</p>
      <a [routerLink]="['/starship', starship.url.split('/').slice(-2, -1)[0]]" class="btn btn-primary">Details</a>
    </div>
  </div>
  }
  } @else {
  <p>Loading starships...</p>
  }
</div>-->
<div class="row justify-content-center">
    <div class="starships-container col-12 d-flex justify-content-center">
      @if (starships$ | async; as resultObject) {
      @for (starship of resultObject; track $index) {
      <a [routerLink]="['/starship', starship.url.split('/').slice(-2, -1)[0]]" class="card-link">
        <div class="starships-container ">
          <div class="starship ">
            <h2 class="card-title">{{ starship.name }}</h2>
            <p class="card-text">Model: {{ starship.model }}</p>
          </div>
        </div>
      </a>
      }
      } @else {
      <p>Loading starships...</p>
      }
    </div>
    </div>


    <!--<div class="container mt-4">
  @if (starships$ | async; as starshipArray) {
    @for (starship of starshipArray; track $index) {
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ starship.name }}</h5>
          <p class="card-text">Model: {{ starship.model }}</p>
          <a [routerLink]="['/starship', starship.url.split('/').slice(-2, -1)[0]]" class="btn btn-primary">Details</a>
        </div>
      </div>
    }
  } @else {
    <p>Loading starships...</p>
  }
</div>

<div class="container mt-4">
  @if (starships$ | async as starshipArray) {
    @for (starship of starshipArray; track $index) {
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ starship.name }}</h5>
          <p class="card-text">Model: {{ starship.model }}</p>
          <a [routerLink]="['/starship', starship.url.split('/').slice(-2, -1)[0]]" class="btn btn-primary">Details</a>
        </div>
      </div>
    }
  } @else {
    <p>Loading starships...</p>
  }
</div>-->