<div class="justify-content-center">
  <div class="starships-container col-12 d-flex justify-content-center">
    @if (starships$ | async; as resultObject) {
    @for (starship of resultObject; track $index) {
    <a [routerLink]="['/starship', starship.url.split('/').slice(-2, -1)[0]]" class="card-link">
      <div class="starships-container">
        <div class="starship">
          <h2 class="card-title">{{ starship.name }}</h2>
          <p class="card-text">Model: {{ starship.model }}</p>
        </div>
      </div>
    </a>
    }

    @if (hasMorePages) {
    <div class="d-flex justify-content-center my-3">
      <button (click)="loadMore()" class="btn btn-light">View More</button>
    </div>
    }

    } @else {
    <p>Loading starships...</p>
    }
  </div>
</div>