body {
  font-family: 'Arial', sans-serif;
  background-color: black !important;
  /* Fondo negro */
  color: white;
}

.navbar {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
  margin-top: 50px;
}

.card {
  margin: 10px 0;
  background-color: #121212;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; //Empuja hacia arriba
  min-height: 100vh;
  padding-top: 20px;
}

.btn-primary {
  background-color: #f4f5f7;
  border-color: #ccb100;
}